.body{background-color: #F4F4F5;}
.header{
  display: block;
  text-align: center;
  .logo{
    margin: 20px;
    width: 70px;
    height: 70px;
    filter: drop-shadow(5px 5px 5px)
  }
}
.taskIndex{
  margin: 20px;
  .boardName{
    display: inline-block;
    border-radius: 5px;
    background-color: #9FE7A4;
    color: #FFF;
    text-shadow: 0px 0px 3px #000;
    padding: 10px 60px 10px 60px;
    font-size: 30px;
    text-align: center;
  }
  .taskBoard{
    vertical-align: top;
    display: inline-block;
    margin: 20px;
    width: 255px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0px 3px 6px;
    .taskStatus{
      padding: 10px;
      text-align: center;
      box-shadow: 0px 2px 3px;
      font-size: 30px;
    }
    .newTask{
      margin: 10px;
      width: 235px;
      box-shadow: 0px 3px 3px;
      padding: 5px;
      font-size: 20px;
      border-radius: 5px;
    }
    .taskCard{
      background-color: #9FE7A4;
      color: #000;
      margin: 10px;
      padding: 5px;
      width: 235px;
      box-shadow: 0px 3px 3px;
      font-size: 20px;
      text-align: center;
      border-radius: 5px;
    }
  }
}
